<p>Puerto de escucha: {{port}}</p>
<p>URL Mongo: {{dbUrl}}</p>
<p>Node Environment: {{nodeEnv}}</p>
<p>Execution Mode: {{execMode}}</p>
<p>Session Time: {{sessionTime}}</p>
<p>Email Admin: {{adminEmail}}</p>
