html
  head
    title= "Ruta de Información del Server"
  body
    p= `- Argumentos de entrada:  ${arguments}`
    p= `- Plataforma:  ${platform}`
    p= `- Node Version:  ${nodeVersion}`
    p= `- Memory Usage:  ${memoryUssage}`
    p= `- Process ID:  ${processId}`
    p= `- Work Directory:  ${workDirectory}`
    p= `- Exec Directory:  ${execDirectory}`